body {
  background-color: #FFFAFA;
}

@font-face {
  font-family: 'digital-clock';
  src: url(fonts/digital.regular.ttf);
}

.App {
  text-align: center;
}

.display {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  width: 600px;
  color: #696969;
  font-size: 10rem;
  font-family: 'digital-clock';
  padding: 20px 40px;
  margin-bottom: 20px;
  border: 5px solid #61dafb;
  border-radius: 20px;
}

.hours, .minutes, .seconds {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  padding: 10px;
  text-align: center;
}
